.App {
    text-align: center;
    cursor: pointer;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.App-game {
    background-color: #282c34;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

div {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    height: 25px;
    width: 25px;
    background-color: aquamarine;
    border-style: outset;
    border-color: coral;
    border-width: 2px;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.cell-flagged {
    border-style: outset;
}

.cell-discovered {
    border-style: none;
}

a.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #282c34;
    margin: 0 0.3em 0 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #282c34;
    text-align: center;
    transition: all 0.2s;
    font-size: large;
}

a.btn:hover {
    color: white;
    background-color: #282c34;
}

@media all and (max-width:30em) {
    btn {
        display: block;
        margin: 0.4em auto;
    }
}