:root {
    --undiscovered-cell-bg: #d8d8da;
    --discovered-cell-bg: #adadae;
    --cell-border-color: #828283;
    --cell-mine-pressed: #e30e03;
}

.App {
    text-align: center;
    cursor: pointer;
}

.App-icon {
    height: 15px;
}

.App-header {
    display: flex;
    height: 5vh;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.App-game {
    background-color: #282c34;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

div {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    height: 25px;
    width: 25px;
    background-color: var(--discovered-cell-bg);
    border-style: outset;
    border-color: var(--cell-border-color);
    border-width: 2px;
    color: red;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.cell-flagged {
    /* border-style: outset; */
}

.cell-discovered {
    height: 27px;
    width: 27px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--undiscovered-cell-bg);
}

.cell-mine-pressed {
    background-color: var(--cell-mine-pressed);
}

a.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #282c34;
    margin: 0 0.3em 0 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #282c34;
    text-align: center;
    transition: all 0.2s;
    font-size: large;
}

a.btn:hover {
    color: white;
    background-color: #282c34;
}

@media all and (max-width:30em) {
    btn {
        display: block;
        margin: 0.4em auto;
    }
}